# Build folders
/build
packages/*/build/
packages/*/examples/*/build/
es
lib
dist
umd

node_modules
packages/*/examples/*

# Upgrade
**/__testfixtures__/**
packages/upgrade/cli.js

# React
**/storybook-static/**
packages/react/icons/index.js
packages/react/icons/index.esm.js

# ESLint configurations
config/eslint-config/plugins
